
# [DATABASE]
DB_SERVER=YOURSERVER
DB_USER=YOURUSERNAME
DATABASE=YOURDATABASE
DB_PASSWORD=YOURPASSWORD
# Use Trusted Connection (Windows Authentication)? yes/no
TRUSTED_CONNECTION=YES_OR_NO

# [PATHS]
INPUT_PATH=YOURINPUTPATH
OUTPUT_PATH=YOUROUTPUTPATH
LOGGER_PATH=YOURLOGGERPATH

# [SETTINGS]
ENCODING=YOURENCODING